@font-face {
    font-family: "Roboto";
    src: url("../Fonts/Roboto/Roboto-Regular.ttf");
}

:root {
    --dark-slate: #1a2a3b;
    --black: #000000;
    --white: #f8fafc;
}

html, body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Roboto';
}

.header {
    font-weight: bold;
    line-height: 1.1;
    margin: 0.25em;
}
.header.title {
    font-size: 2.5em;
}
.header.mid {
    font-size: 1.5em;
}
.paragraph {
    line-height: 1.1;
    margin: 0.5em;
    font-size: 1.25em;
}
.margin-1 { margin: .5em }
.margin-2 { margin: 2em }

.glow-white {
    text-shadow: 0px 0px 5px #f8fafc;
}
.emphisize {
    color: orangered;
    font-weight: 600;
}

.image {
    display: block;
    width: clamp(300px, 50%, 600px);
}

kbd {
    background: var(--dark-slate);
    border: 1.8pt solid white;
    border-radius: 0.5em;
    padding: 0.25em;
}

.icon {
    text-decoration: none;
    color: var(--white);
}

.subtitle {
    color: grey;
}

.section {
    background: var(--dark-slate);
    padding: 1em;
    border-radius: 0.5em;
    border: 1.8pt solid white;
}
.section.no-bg {
    background: none;
}

.center-text {
    text-align: center;
}

.button {
    --style: cubic-bezier(0.075, 0.82, 0.165, 1);
    --anim-color: var(--white);

    padding: 1em;
    background: #0d141c;
    color: var(--white);
    border: 1.8pt solid var(--white);
    border-radius: .5em;
    display: inline-block;
    transition: transform 400ms var(--style), color 400ms var(--style);
}
.button.small {
    padding: .75em;
}
.button:hover, .button:focus {
    transform: scale(1.25) rotate(5deg);
}

#youtube {
    --anim-color: red;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: orangered;
    text-decoration: underline;
}